<div class="container">

    <h1>Consignes</h1>

    <p>Vous devez créer une application budgétaire qui permet de suivre les . L'application devra permettre de :</p>
    <ul>
        <li><span>Visualiser une liste de projets</span></li>
        <li><span>Filtrer cette liste de projets</span></li>
        <li><span>Visualiser un projet</span></li>
        <li><span>Modifier un projet</span></li>
        <li><span>Supprimer un projet</span></li>
        <li><span>Créer un projet</span></li>
    </ul>
    <p>Pour cela, vous devez respecter les contraintes suivantes:</p>

    <ul>
        <li><span>Les différentes vues pourront être accessibles directement par l'URL</span></li>
        <li><span>Vous devrez mettre en place un systeme de route</span></li>
        <li><span>Vous devrez créer et utiliser au moins un service</span></li>
        <li><span>Vous devrez créer et utiliser au moins un filtre</span></li>
        <li><span>BONUS: Créer et utiliser au moins une directive (groupe de boutons d'actions pour supprimer un projet directement à partir de la liste)</span>
        </li>
    </ul>

    <p>Vous disposez de l'api REST suivante:</p>
    <ul>
        <li><a href="/api/projets"><span>GET:/api/projets </span></a>Pour récupérer la liste des projets</li>
        <li><a href="/api/projets/1"><span>GET:/api/projets/:id </span></a>Pour récupérer un projet par son id
        </li>
        <li><span>POST:/api/projets </span>Pour ajouter un projet</li>
        <li><span>PUT:/api/projets/:id </span>Pour modifier un projet</li>
        <li><span>DELETE:/api/projets/:id </span>Pour supprimer un projet</li>
    </ul>

 
</div>
 
