
<div class="container">
    <h1>Projet detail</h1>
    <form name=projetForm" class="my-form" novalidate>
        <div class="form-group">
            <label for="name">Code *</label>
            <input type="text" class="form-control" id="codeProjet" placeholder="code" ng-model="projet.codeProjet" required>
        </div>
       
        <div class="form-group">
            <label for="name">date début *</label>
            <input type="text" class="form-control" id="dateDebut" placeholder="date debut" ng-model="projet.dateDebut" required>
        </div>
         
        <div class="form-group">
            <label for="address">date fin *</label>
            <input type="text" class="form-control" id="dateFin" placeholder="date fin" ng-model="projet.dateFin" required>
        </div>
        <div class="form-group">
            <label for="address">description </label>
            <input type="text" class="form-control" id="descProjet" placeholder="desciption" ng-model="projet.descProjet" >
        </div>
        <div class="form-group">
            <label for="address">budget totale </label>
            <input type="number" class="form-control" id="budgetTotal" placeholder="budget totale" ng-model="projet.budgetTotal" >
        </div>
    </form>
    <div class="actions">
        <a class="btn btn-lg btn-success" ng-disabled="projetForm.$invalid"  ng-click="submit()">{{getBtnLabel()}}</a>
    </div>
</div>
