
<div class="container">
    <h1>Projet detail</h1>
    <form name=projetForm" class="my-form" novalidate>
        <div class="form-group">
            <label for="name">Code *</label>
            <input type="text" class="form-control" id="code" placeholder="code" ng-model="projet.code" required>
        </div>
       
        <div class="form-group">
            <label for="name">date début *</label>
            <input type="text" class="form-control" id="date_debut" placeholder="date debut" ng-model="projet.date_debut" required>
        </div>
         
        <div class="form-group">
            <label for="address">date fin *</label>
            <input type="text" class="form-control" id="date_fin" placeholder="date fin" ng-model="projet.date_fin" required>
        </div>
        <div class="form-group">
            <label for="address">description </label>
            <input type="text" class="form-control" id="desciption" placeholder="desciption" ng-model="projet.description" >
        </div>
        <div class="form-group">
            <label for="address">budget totale </label>
            <input type="number" class="form-control" id="budget_totale" placeholder="budget totale" ng-model="projet.budget_totale" >
        </div>
    </form>
    <div class="actions">
        <a class="btn btn-lg btn-success" ng-disabled="projetForm.$invalid"  ng-click="submit()">{{getBtnLabel()}}</a>
    </div>
</div>
