<div class="container">


	<img src="images/logo.png" width="200px" style="float: right;" border=1><BR>
	<h2>Bonjour</h2>
	<p>Bienvenue sur ITConcepts, la sociètè offshore Spécialiste des
		solutions logicielles et outils de développement proposés par
		Microsoft.</p>
	<br>
	<h4>les servises offertes par ITConcepts sont :</h4>
	<UL>
		<IMG SRC="images/puce.gif">consultant et accompagnement des
		clients.
		<BR>
		<IMG SRC="images/puce.gif">Mise en &#156uvre des systèmes
		d'information.
		<BR>
		<IMG SRC="images/puce.gif">Administration de bases de données.
		<BR>
		<IMG SRC="images/puce.gif">Spécifications, conception et
		développement de solutions informatiques.
		<BR>
		<IMG SRC="images/puce.gif">Internet/Intranet.
		<BR>
	</UL>
	<div class="main">
		<table class="table table-striped">
			<thead>
				<tr>
					<td><img width="256" height="256" src="images/projet.png"><br></td>
					<td>
						<p class="lead">
							<img width="256" height="256" src="images/users.png"
								alt="I'm Yeoman"><br>
						</p>
					</td>

				</tr>
				<tr>
					<td>
						<p>
							<a class="btn btn-lg btn-success" href="#/list">Check the
								projects list</a>
						</p>
					</td>
					<td>
						<p>
							<a class="btn btn-lg btn-success" href="#/ressources">Check
								the ressources list</a>
						</p>
					</td>
			</thead>
			</tr>
			</div>



			</div>