<div class="container">
    <h1>Projet detail</h1>
    <div class="profil">
        <img width="128" height="128" ng-src="images/projetlogo.png" alt="projet picture" class="img-rounded">
        <div class="infos">
            <ul>
                <li><span>id: </span> {{projet.id}}</li>
                <li><span>code: </span>{{projet.code}}</li>
                <li><span>date de debut: </span>{{projet.date_debut}}</li>
                <li><span>date du fin: </span>{{projet.date_fin}}</li>
                <li><span>description: </span>{{projet.description}}</li>   
                <li><span>budget totale: </span>{{projet.budget_totale}}</li>                         
            </ul>
            
        </div>
        <div class="actions">
            <a class="btn btn-lg btn-success" ng-href="#/edit/{{projet.id}}">Modify</a>
            <a class="btn btn-lg btn-success"  ng-click="delete()">Delete</a>
        </div>
    </div>
</div>

