<div class="container">
    <h1>Ressource detail</h1>
    <div class="profil">
        <img width="128" height="128" ng-src="images/Icon-user.png"  class="img-rounded">
        <div class="infos">
            <ul>
                <li><span>id: </span> {{ressource.id}}</li>
                <li><span>prestataire: </span>{{ressource.prestataire}}</li>
                <li><span>id Tjm Societe Profil: </span>{{ressource.idTjmSocieteProfil}}</li>                         
            </ul>
            
        </div>
        <div class="actions">
            <a class="btn btn-lg btn-success" ng-href="#/editRessource/{{ressource.id}}">Modify</a>
            <a class="btn btn-lg btn-success"  ng-click="delete()">Delete</a>
        </div>
    </div>
</div>

